.home-index_wrapper {
  &__slide {
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid rgb(5, 5, 5);
    background-color: rgb(10, 10, 10);
    .slide-show {
      display: flex;
      height: 300px;
      max-width: 80%;
      margin: 0 auto;
      background-color: black;
      overflow: hidden;
      .slide {
        display: none;
        margin: 0 auto;
        height: 100%;
        background-color: black;
        &__contents {
          height: 100%;
          display: flex;
          &__photo {
            height: 100%;
            img {
              max-width: 700px;
              min-height: 100%;;
              max-height: 100%;
            }
          }
          
          &__info {
            width: 300px;
            color: white;
            margin-left: 50px;
            &__title {
              border-bottom: 1px solid rgb(100, 100, 100);
              margin: 30px auto 80px;
              text-align: left;
              font-family: $mainFont;
              font-size: 18px;
              font-weight: 900;
              padding-left: 10px;
              
            }
            &__name {
              text-align: center;
              font-size: auto;
              font-family: $mainFont;
              font-weight: 900;
              letter-spacing: 3px;
            }
            &__artistname {
              margin-top: 90px;
              font-size: 13px;
              text-align: right;
            }
  
          }
        }
        
      }

    }
  }
  &__container {
    padding-top: 30px;
    .new_users  {
      &__title {
        font-size: 25px;
        width: 150px;
        text-align: center;
        color: rgb(184, 180, 172);
        border-bottom: 1px solid rgb(184, 180, 172);
        margin-left: 50px;
        font-family: 'Crimson Text', serif;
      }
      &__table {
        height: 230px;
        display: flex;
        padding: 10px 0 0 60px;
        box-sizing: border-box;
        overflow-x: scroll;
        &::-webkit-scrollbar {
          display: none;
        }

        a {
          height: 195px;
          margin-right: 15px;
          box-shadow: 0.3em 0.3em 0.3em black;
          .new_user {
            opacity: 0.7;
              &:hover {
                opacity: 1;
              } 
            &__image {
              text-align: center;
              height: 151px;
              background-color: rgb(34, 33, 33);
              border-radius: 5px 5px 0px 0px;  
              img {
                height: 150px;
                border-radius: 5px 5px 0px 0px;
              }
            }
            &__artistname {
              font-size: 15px;
              text-align: center;
              line-height: 40px;
              letter-spacing: 2px;
              background-color: rgb(15, 15, 15);
              border-radius: 0px 0px 5px 5px;
              color: white;
            }
          }
        }
      }
    }
  }
}