= link_to gallery_path(art.id) do
  .main_table
    .main_table__image
      - firstImage = art.gallery_images.first
      -if firstImage.photo.url.present?
        =image_tag firstImage.photo.url
      -else
        = image_tag "/images/sad.jpg"
    %p{class:"main_table__name main_table__width"}
      = art.title
