= link_to user_path(user.id) do
  .main_table
    .main_table__image
      -if user.image.present?
        = image_tag user.image.url
      -else
        = image_tag "/images/sad.jpg"
    %p{class:"main_table__name"}
      = user.artistname
