@mixin show_left {
  display: flex;
  width: 95%;
  margin: 30px auto 0;
  border-bottom: 1px solid rgb(80, 80, 80);
  p {
    width: 70%;
    margin-left: 10px;
    text-align: center;
  }
}

.gallery_show_wrapper {
  &__slide {
    position: relative;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border: 1px solid rgb(5, 5, 5);
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
    &__btn {
      position: absolute;
      top: 20px;
      right: 2%;
      font-size: 1rem;
      padding: 0 2%;
      color:rgb(200, 100, 80);;
      border: 2px solid rgb(200, 100, 80);
      border-radius: 5px;
    }
    .slide-show {
      height: 450px;
      width: 80%;
      margin: 0 auto;
      background-color: black;
      overflow: hidden;
      .slide {
        display: none;
        height: 100%;
        background-color: black;
        text-align: center;
        img {
          max-width: 1200px;
          min-height: 100%;;
          max-height: 100%;
        }
      }
    }
  }
  &__container {
    
    .show_images  {
      &__table {
        margin: 0 auto;
        width: 90%;
        margin-top: 20px;
        height: 180px;
        display: flex;
        box-sizing: border-box;
        overflow-x: scroll;
        border-bottom: 1px solid rgb(85, 85, 85);
        &::-webkit-scrollbar {
          display: none;
        }
        .show_image {
          margin-left: 10px;
          &__image {
            text-align: center;
            height: 150px;
            background-color: rgb(34, 33, 33);
            box-shadow: 0.3em 0.3em 0.3em black;
            opacity: 0.6;
            &:hover {
              opacity: 1;
            }
            img {
              height: 150px;
              border-radius: 5px;
              cursor: pointer;
            }
          }
        }
        .empty_box{
          min-width: 30px;
          height: 150px;
        }
      }
    }
    .gallery_information {
      display: flex;
      position: relative;
      padding-top: 10px;
      &__left {
        margin: 20px auto 0 ;
        box-sizing: border-box;
        width: 30%;
        min-height: 180px;
        border-right: 1px solid rgb(85, 85, 85);
        
        &__title {
          @include show_left();
        }
        &__artistname {
          @include show_left();
          a{
            width: 70%;
            color: white;
            :hover {
              color: rgb(230, 168, 168);
            }
          }
          p {
            width: 100%;
          }
        }
      }
      &__right {
        width: 55%;
        min-height: 140px;
        padding-right: 5%;
        margin-bottom: 90px;
        white-space: pre-wrap;
        overflow: hidden;
        color: rgb(160, 160, 160);
      }
      &__btn {
        position: absolute;
        bottom: 7%;
        right: 140px;
        color: rgb(165, 165, 165);
        padding: 0 10px;
        border-bottom: 1px solid rgb(80, 80, 80);
        font-size: 14px;
        cursor: pointer;
        display: none;
        &:hover {
          color: rgb(245, 243, 243);
        }
      }
    }
  }
}